/**
  Layouts are major sections of the page (header, footer, sidebar)
  Id's use is tolerable here
*/

#cv {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background: $color_background_body;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.mainDetails {
  padding: 25px 35px;
  border-bottom: 2px solid;
  background: $color_background_header;
}

.mainArea {
  padding: 0 40px;
}