.tools {
  position: fixed;
  bottom: 0;
  right: 0;

  background-color: rgba(0,0,0, 0.1);

  .print {

  }

  .language {
    display: inline-block;
    padding: 2px;
    z-index: 2;
    //width: 32px;
    //height: 32px;
  }
}

.flag {
  width: 32px;
  height: 32px;
  //background: url(../../images/flags.png) no-repeat;
}
